<%= form_for @provider, :html => { :class => "form-horizontal provider" } do |f| %>

    <% if @provider.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @provider.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@provider[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :streetaddress, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :streetaddress, :class => 'form-control' %>
    </div>
    <%= error_span(@provider[:streetaddress]) %>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
    <%= error_span(@provider[:phone]) %>
  </div>
  <div class="control-group">
    <%= f.label :postalcode, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :postalcode, :class => 'form-control' %>
    </div>
    <%= error_span(@provider[:postalcode]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            providers_path, :class => 'btn btn-default' %>

<% end %>
