<%= form_for @service, :html => { :class => "form-horizontal service" } do |f| %>

    <% if @service.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @service.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :'Tipo de Servicio', :class => 'control-label' %>
    <div class="controls">
      <%= f.select :service_type_id, options_for_select(ServiceType.all.map{|s|[s.name, s.id]}, selected_key = @service.service_type_id), :class => 'form-control' %>
    </div>
    <%= error_span(@service[:service_type_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@service[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :saleprice, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :saleprice, :class => 'form-control' %>
    </div>
    <%= error_span(@service[:saleprice]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            services_path, :class => 'btn btn-default' %>

<% end %>
