<p id="notice"><%= notice %></p>

<h1>Listing Detail Vouchers</h1>

<table>
  <thead>
    <tr>
      <th>Voucher</th>
      <th>Service</th>
      <th>Guide</th>
      <th>Unitprice</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detail_vouchers.each do |detail_voucher| %>
      <tr>
        <td><%= detail_voucher.voucher %></td>
        <td><%= detail_voucher.service %></td>
        <td><%= detail_voucher.guide %></td>
        <td><%= detail_voucher.unitprice %></td>
        <td><%= detail_voucher.quantity %></td>
        <td><%= detail_voucher.subtotal %></td>
        <td><%= link_to 'Show', detail_voucher %></td>
        <td><%= link_to 'Edit', edit_detail_voucher_path(detail_voucher) %></td>
        <td><%= link_to 'Destroy', detail_voucher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detail voucher', new_detail_voucher_path %>
