<p id="notice"><%= notice %></p>

<p>
  <strong>Voucher:</strong>
  <%= @detail_voucher.voucher %>
</p>

<p>
  <strong>Service:</strong>
  <%= @detail_voucher.service %>
</p>

<p>
  <strong>Guide:</strong>
  <%= @detail_voucher.guide %>
</p>

<p>
  <strong>Unitprice:</strong>
  <%= @detail_voucher.unitprice %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @detail_voucher.quantity %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @detail_voucher.subtotal %>
</p>

<%= link_to 'Edit', edit_detail_voucher_path(@detail_voucher) %> |
<%= link_to 'Back', detail_vouchers_path %>
