<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @branch.name %>
</p>

<p>
  <strong>Streetaddress:</strong>
  <%= @branch.streetaddress %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @branch.phone %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @branch.postalcode %>
</p>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
