<%= form_for(@seller) do |f| %>
  <% if @seller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seller.errors.count, "error") %> prohibited this seller from being saved:</h2>

      <ul>
      <% @seller.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Empleado' %><br>
    <%= f.select :employee_id, options_for_select(Employee.all.map{|s|[s.name, s.id]}, selected_key = @seller.employee_id)%>
  </div>
  <div class="field">
    <%= f.label :'Usuario' %><br>
    <%= f.select :veterinary_user_id, options_for_select(VeterinaryUser.all.map{|s|[s.nameuser, s.id]}, selected_key = @seller.veterinary_user_id)%>
  </div>
  <div class="field">
    <%= f.label :observation %><br>
    <%= f.text_field :observation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
