<%= form_for @pet, :html => { :class => "form-horizontal pet" } do |f| %>

    <% if @pet.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @pet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@pet[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :sex, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sex, :class => 'form-control' %>
    </div>
    <%= error_span(@pet[:sex]) %>
  </div>
  <div class="control-group">
    <%= f.label :datebirth, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_field :datebirth, :class => 'form-control' %>
    </div>
    <%= error_span(@pet[:datebirth]) %>
  </div>
  <div class="control-group">
    <%= f.label :color, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :color, :class => 'form-control' %>
    </div>
    <%= error_span(@pet[:color]) %>
  </div>
  <div class="control-group">
    <%= f.label :allergies, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :allergies, :class => 'form-control' %>
    </div>
    <%= error_span(@pet[:allergies]) %>
  </div>
  <div class="control-group">
    <%= f.label :chroniccondition, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :chroniccondition, :class => 'form-control' %>
    </div>
    <%= error_span(@pet[:chroniccondition]) %>
  </div>
  <div class="control-group">
    <%= f.label :observation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :observation, :class => 'form-control' %>
    </div>
    <%= error_span(@pet[:observation]) %>
  </div>
  <div class="control-group">
    <%= f.label :'Dueño', :class => 'control-label' %>
    <div class="controls">
      <%= f.select :customer_id, options_for_select(Customer.all.map{|s|[s.name, s.id]}, selected_key = @pet.customer_id), :class => 'form-control' %>
    </div>
    <%= error_span(@pet[:customer_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :'Especie', :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :species_id, Species.order(:name), :id, :name, include_blank: false %>
    </div>
    <%= error_span(@pet[:species_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :'Raza', :class => 'control-label' %>
    <div class="controls">
      <%= f.grouped_collection_select :breed_id, Species.order(:name), :breeds, :name, :id, :name, include_blank: false %>
    </div>
    <%= error_span(@pet[:breed_id]) %>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to 'Cancelar', customer_path(@pet.customer), :class => 'btn btn-default' %>

<% end %>
