<%- model_class = Pet -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @pet.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sex) %>:</strong></dt>
  <dd><%= @pet.sex %></dd>
  <dt><strong><%= model_class.human_attribute_name(:datebirth) %>:</strong></dt>
  <dd><%= @pet.datebirth %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color) %>:</strong></dt>
  <dd><%= @pet.color %></dd>
  <dt><strong><%= model_class.human_attribute_name(:allergies) %>:</strong></dt>
  <dd><%= @pet.allergies %></dd>
  <dt><strong><%= model_class.human_attribute_name(:chroniccondition) %>:</strong></dt>
  <dd><%= @pet.chroniccondition %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observation) %>:</strong></dt>
  <dd><%= @pet.observation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:customer_id) %>:</strong></dt>
  <dd><%= @pet.customer_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:species_id) %>:</strong></dt>
  <dd><%= @pet.species_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:breed_id) %>:</strong></dt>
  <dd><%= @pet.breed_id %></dd>
</dl>

<%= link_to 'Regresar', customer_path(@pet.customer), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")), edit_pet_path(@pet), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              pet_path(@pet),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
