<%= form_for @detail_guide, :html => { :class => "form-horizontal detail_guide" } do |f| %>

    <% if @detail_guide.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@detail_guide.errors.count, "error") %> prohibited this detail_guide from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @detail_guide.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :'N° de Guía', :class => 'control-label' %>
    <div class="controls">
      <%= f.select :guide_id, options_for_select(Atention.all.map{|s|[s.id, s.id]}, selected_key = @detail_guide.guide_id), :class => 'form-control' %>
    </div>
    <%= error_span(@detail_guide[:guide_id]) %>
  </div>
  
  <div class="control-group">
    <%= f.label :'Producto', :class => 'control-label' %>
    <div class="controls">
      <%= f.select :product_id, options_for_select(Product.all.map{|s|[s.name, s.id]}, selected_key = @detail_guide.product_id), :class => 'form-control' %>
    </div>
    <%= error_span(@detail_guide[:product_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :unitprice, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :unitprice, :class => 'form-control' %>
    </div>
    <%= error_span(@detail_guide[:unitprice]) %>
  </div>
  <div class="control-group">
    <%= f.label :quantity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :quantity, :class => 'form-control' %>
    </div>
    <%= error_span(@detail_guide[:quantity]) %>
  </div>
  <div class="control-group">
    <%= f.label :subtotal, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subtotal, :class => 'form-control' %>
    </div>
    <%= error_span(@detail_guide[:subtotal]) %>
  </div>
  <div class="control-group">
    <%= f.label :note, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :note, :class => 'form-control' %>
    </div>
    <%= error_span(@detail_guide[:note]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            detail_guides_path, :class => 'btn btn-default' %>

<% end %>
