<p id="notice"><%= notice %></p>

<h1>Listing Detail Guides</h1>

<table>
  <thead>
    <tr>
      <th>Guide</th>
      <th>Product</th>
      <th>Unitprice</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detail_guides.each do |detail_guide| %>
      <tr>
        <td><%= detail_guide.guide.id %></td>
        <td><%= detail_guide.product.name %></td>
        <td><%= detail_guide.unitprice %></td>
        <td><%= detail_guide.quantity %></td>
        <td><%= detail_guide.subtotal %></td>
        <td><%= detail_guide.note %></td>
        <td><%= link_to 'Show', detail_guide %></td>
        <td><%= link_to 'Edit', edit_detail_guide_path(detail_guide) %></td>
        <td><%= link_to 'Destroy', detail_guide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detail guide', new_detail_guide_path %>
