<p id="notice"><%= notice %></p>

<p>
  <strong>Guide:</strong>
  <%= @detail_guide.guide.id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @detail_guide.product.name %>
</p>

<p>
  <strong>Unitprice:</strong>
  <%= @detail_guide.unitprice %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @detail_guide.quantity %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @detail_guide.subtotal %>
</p>

<p>
  <strong>Note:</strong>
  <%= @detail_guide.note %>
</p>

<%= link_to 'Edit', edit_detail_guide_path(@detail_guide) %> |
<%= link_to 'Back', guides_path %>
