<%= form_for @customer, :html => { :class => "form-horizontal customer" } do |f| %>

    <% if @customer.errors.any? %>
    <div id="error_expl" class="alert alert-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :'Tipo de Documento de Identidad', :class => 'control-label' %>
    <div class="controls">
      <%= f.select :document_type_id, options_for_select(DocumentType.all.map{|s|[s.name, s.id]}, selected_key = @customer.document_type_id), :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:document_type_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :documentnumber, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :documentnumber, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:documentnumber]) %>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :streetaddresss, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :streetaddresss, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:streetaddresss]) %>
  </div>
  <div class="control-group">
    <%= f.label :postalcode, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :postalcode, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:postalcode]) %>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.phone_field :phone, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:phone]) %>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:email]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            customers_path, :class => 'btn btn-default' %>

<% end %>
