<%- model_class = Guide -%>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> Guías de Productos </h1>
          <%= link_to 'Crear Nueva Guía', new_guide_path, :class => 'btn btn-success' %>
        <h1></h1>
        <br>
    </div>
    <% @guides.each do |guide| %>
      <div class="col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4><i class="fa fa-fw fa-check"></i><%= 'Guía de Productos N° ' + guide.id.to_s %></h4>
              </div>
              <div class="panel-body">
                <dt><strong></strong></dt>
                <dt><strong>Atención N°:</strong></dt>
                <dd><%= guide.atention_id %></dd>
                <dt><strong>Servicio:</strong></dt>
                <dd><%= guide.service.name %></dd>
                <dt><strong>Importe Total:</strong></dt>
                <dd><%= guide.total %></dd>
                <dt><strong>Fecha de Guía:</strong></dt>
                <dd><%= l guide.created_at %></dd>
                <br>
                <%= link_to "Ver datos: #{guide.id}", guide_path(guide), :class => 'btn btn-info' %>
                <%= link_to 'Editar', edit_guide_path(guide), :class => 'btn btn-success' %>
                <%= link_to 'Eliminar', guide_path(guide),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-danger' %>
              </div>
          </div>
      </div>
    <% end %>
</div>