<%- model_class = Atention -%>

<div class="page-header">

</div>

<div class="panel panel-info">
  <div class="panel-heading"><h1>Aención</h1>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt><strong>N° de Cita:</strong></dt>
      <dd><%= @atention.veterinary_appointment_id %></dd>
      <dt><strong>Cliente:</strong></dt>
      <dd><%= @atention.customer.name %></dd>
      <dt><strong>Mascota:</strong></dt>
      <dd><%= @atention.pet.name %></dd>
      <dt><strong>Fecha de Atención:</strong></dt>
      <dd><%= @atention.date %></dd>
    </dl>
  </div>
  <div class="table-responsive">
    <table class="table">
      <div>
        <%= link_to "Agregar Consumo", new_pet_path(@customer), :class => 'btn btn-success', :span => "icon-prev" %>
      </div>
      <tr>
        <th>Correlativo</th>
        <th>N° de Servicio</th>
        <th>N° de Guía de Productos</th>
        <th>Precio Unitario</th>
        <th>Cantidad</th>
        <th>Sub Total</th>
        <th></th>
      </tr>
      <% @atention.consumptions.each do |consumption| %>
        <tr>
          <td><%= consumption.id %></td>
          <td><%= consumption.service.name %></td>
          <td><%= consumption.guide_id %></td>
          <td><%= consumption.unitprice %></td>
          <td><%= consumption.quantity %></td>
          <td><%= consumption.subtotal %></td>
          <td>
            <%= link_to 'Editar', edit_consumption_path(consumption), :class => 'btn btn-info btn-xs' %>
            <%= link_to 'Eliminar', consumption_path(consumption),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div>
  <%= link_to 'Atras', atentions_path, :class => 'btn btn-default' %>
</div>
<div>
  <%= link_to 'Editar', edit_atention_path(@atention), :class => 'btn btn-default' %>
</div>
<div>
  <%= link_to 'Eliminar',
                atention_path(@atention),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
</div>